.service-worker-title{
    padding: 16px;
    margin: 0px;
    text-align: center;
    background-color: beige;

}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    background-color: #e2e5e7;
    padding: 30px 80px;
    height: 300px;
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .grid-image {
    display: flex;
    height: 100px;
    width: 150px;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .img-src{
    max-height: 100%;
    max-width: 100%;
  }

  .padding-top-10{
    padding-top: 10px;
  }
  
  .grid-progressBar{
    text-align: center;
  }

  .offer-percentage{
    color: #fff;
    padding: 6px;
    border-radius: 5px;
    background-color: #de2929;
  }
  .offer-text{
    color: red;
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;

  }



@keyframes fadeIn { 
  from { opacity: 0; } 
}

.grid-price{
  color: #555;
  font-weight: bold;
  animation: fadeIn 5s infinite alternate;
}